body {
    margin: 0;
    background-color:#FDFDFF;
    color: #163152;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.main-header{
    width: 1170px;
    padding: 20px 55px;
    margin: 0 auto;
    margin-bottom: 40px; 
}

.main-header-container {
    display: flex;
}

.header-logo {
    margin-right: auto;
}

.main-nav {
    text-transform: uppercase;
    font-size: 14px;
    width: 559px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 40px;
}

.profile {
    width: 36px;
}

.main-content{
    width: 1170px;
    padding: 0 55px;
    margin: 0 auto;
}

.lead {
    margin-bottom: 120px;
}

.lead-title {
    margin: 0;
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.lead img {
    width: 1170px;
}

.joining-club {
    width: 1030px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;
}

.joining-club-container {
    width: 400px;
}

.born-in-water {
    width: 1030px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 120px;
}

.born-in-water-container {
    width: 400px;
}

.date {
    font-size: 14px;
    line-height: 18px;
}

.reviews-title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-decoration-line: underline;
    text-decoration-color: #00C6BD;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}

.news {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news figure {
    margin: 0;
    padding: 0;
}

.news-sign {
    color: #8693A4;
    font-size: 16px;
    line-height: 19px;
}

.news h2 {
    text-align: center;
    margin-bottom: 55px;
}

.news-date {
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #8693A4;
}

.news-title {
    font-size: 22px;
}


.news-text span {
    text-decoration-line: line-through;
    text-decoration-color: #163152;
}

.news h4 {
    font-size: 20px;
}

.teams {
    list-style-type: disc;
}

.quote {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    border-left: 2px solid #00C6BD;
}

.news-author {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

a {
    color:#163152;
    text-decoration-line: none;
}

.contacts {
    width: 1170px;
    display: flex;
    gap: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 120px;
    flex-direction: row-reverse;
}

.main-contacts-map {
    height: min-content;
}

.contacts-container {
    width: 400px;
}

.contacts-title {
    margin-bottom: 35px;
}

.contacts-list {
    font-weight: 400;
    line-height: 22px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.main-footer {
    padding: 60px 55px;
    margin: 0 auto;
    display: flex;
}

.footer-container {
    width: 1170px;
    display: flex;
    padding: 0 55px;
    margin: 0 auto;
    gap: 125px;
}

.footer-column {
    width: 175px;
    font-size: 10px;
    line-height: 12px;
    margin-right: auto;
}

.footer-logo-container {
    margin: 0;
    margin-bottom: 30px;
}

.footer-logo {
    margin: 0;
}


.footer-navigation-topics {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 70px;
}

.footer-menu {
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 165px;
}

.footer-navigation-title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.footer-navigation-item {
    width: 165px;
}
